@import '@/shared/styles';

.button {
  @include smoothTransition(transform, background-color, opacity);
  @include focusOutline;

  border: none;
  border-radius: 100px;
  padding: 18px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.primary {
  background-color: $color-btn-active;
  color: $color-text-white;

  &:hover:not(:disabled) {
    background-color: $color-btn-active;
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  @include disabled {
    background-color: $color-disabled;
  }
}

.secondary {
  border: 2px solid $color-primary;
  background-color: transparent;
  color: $color-primary;

  &:hover:not(:disabled) {
    background-color: $color-selected;
  }
}

.fullWidth {
  width: 100%;
}
