@import '@/shared/styles';

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  gap: 32px;

  padding: $spacing-md;
  background-color: $color-background;

  border-radius: 24px 24px 0 0;

  @include onDesktop {
    max-width: 568px;
    flex: none;
    height: 620px;
    padding: $spacing-xl;

    border-radius: 24px;
  }
}

.header {
  margin-bottom: $spacing-xl;

  @include onDesktop {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.headerImage {
  display: none;

  @include onDesktop {
    display: block;
  }
}

.title {
  margin-bottom: $spacing-sm;

  font-family: var(--font-kaisei);
  font-size: 28px;
  font-weight: 700;
  color: $color-text;

  :global(html[lang='uk']) & {
    font-family: var(--font-poppins);
  }
}

.subtitle {
  font-size: 16px;
  color: $color-text-secondary;

  @include onDesktop {
    font-size: 14px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  width: 100%;
  max-width: 400px;

  margin: 0 auto;
}

.selectedSummary {
  animation: fadeIn 0.3s ease-in-out;
  margin: 0;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.summaryLabel {
  margin-bottom: $spacing-sm;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-text-secondary;
}

.summaryDate {
  font-size: 16px;
  font-weight: 500;
  color: $color-text;
}
