@import '@/shared/styles';

.container {
  position: relative;

  z-index: 1;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include onDesktop {
    display: block;
    min-height: auto;
  }
}

.hero {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36vh;
  flex-shrink: 0;

  padding-top: 80px;

  @include onDesktop {
    display: none;
  }
}

.blurEllipse {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
}
