@import '@/shared/styles';

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include onDesktop {
    display: block;
    min-height: auto;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36vh;
  flex-shrink: 0;

  padding-top: 80px;

  @include onDesktop {
    display: none;
  }
}
