@import '@/shared/styles';

.sliderWrapper {
  @include flexCenter;

  position: relative;
  gap: $spacing-sm;
  width: 100%;
}

.navButton {
  @include smoothTransition(transform, color, opacity);
  @include flexCenter;

  z-index: 2;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: $color-text;

  &:hover {
    transform: scale(1.1);
  }

  @include disabled {
    transform: none;

    &:hover {
      color: $color-text;
    }
  }
}

.leftArrow {
  transform: rotate(180deg);
}

.sliderContainer {
  display: flex;
  flex: 1;
  gap: $spacing-sm;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: $spacing-sm 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
