@import '@/shared/styles';

.sliderWrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: $spacing-sm;
  width: 100%;
}

.smoothFadeRight,
.smoothFadeLeft {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100px;
    pointer-events: none;
  }
}

.smoothFadeRight {
  &::after {
    right: 24px;
    background: linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.smoothFadeLeft {
  &::before {
    left: 24px;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.navButton {
  @include smoothTransition(transform, color, opacity);
  @include flexCenter;

  z-index: 2;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-top: var(--slider-offset, 0);
  cursor: pointer;
  color: $color-text;

  &:hover {
    transform: scale(1.1);
  }

  @include disabled {
    transform: none;

    &:hover {
      color: $color-text;
    }
  }
}

.leftArrow {
  transform: rotate(180deg);
}

.sliderContainer {
  display: flex;
  flex: 1;
  gap: $spacing-sm;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: $spacing-sm 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
