@import '@/shared/styles';

.header {
  display: none;

  @include onDesktop() {
    display: block;

    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #ffffff66;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(68px);
  }
}

.container {
  @include onDesktop() {
    @include flexBetween;

    max-width: 1200px;
    margin: 0 auto;
    padding: $spacing-md $spacing-lg;
  }
}

.brand {
  @include onDesktop() {
    display: flex;
    align-items: center;
    gap: $spacing-md;
  }
}

.logo {
  @include onDesktop() {
    width: auto;
    height: 32px;
  }
}

.title {
  @include onDesktop() {
    font-family: var(--font-poppins);
    font-size: 22px;
    font-weight: 600;
    color: $color-text-white;
  }
}
