@import '@/shared/styles';

.monthGroup {
  position: relative;

  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: $spacing-sm;
}

.monthLabel {
  position: absolute;
  left: 0;
  top: -4px;

  font-size: 14px;
  color: $color-text-secondary;
}

.datesRow {
  display: flex;
  gap: $spacing-sm;
}

.dateCard {
  @include smoothTransition(
    transform,
    box-shadow,
    border-color,
    background-color,
    color
  );

  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  width: 64px;
  height: 64px;
  padding: $spacing-sm;
  background-color: $color-background;
  cursor: pointer;

  font-size: 16px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: $color-text-accent;
  }

  &:active {
    transform: translateY(0);
  }

  &.selected {
    border-color: $color-active;
    background-color: $color-active;
    color: $color-text-accent;
    font-weight: 500;

    .todayBadge {
      background-color: white;
      color: $color-text-accent;
    }
  }

  &.today {
    border-color: $color-active;
    border-width: 2px;
  }
}

.todayBadge {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 2px 6px;
  background-color: $color-selected;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-text;
}
